<body>
    <button [ngClass]="{darkmode: !modoOscuro, darkmodedark: modoOscuro}" (click)="toggleDark()"></button>

    <div [ngClass]="{container: !modoOscuro, containerdark: modoOscuro}">
        <div [ngClass]="{card: !modoOscuro, carddark: modoOscuro}">
            <img [ngClass]="{articulo: !modoOscuro, articulodark: modoOscuro}"
                src="https://static.vecteezy.com/system/resources/previews/011/809/168/original/computer-monitor-transparent-background-free-png.png" />
            <div [ngClass]="{subcard: !modoOscuro, subcarddark: modoOscuro}">
                <div [ngClass]="{desc: !modoOscuro, descdark: modoOscuro}">
                    <p>Monitor MSI </p>
                    <p class="price">500€</p>
                </div>


                <button [ngClass]="{anadir: !modoOscuro, anadirdark: modoOscuro}">Add</button>

                <div [ngClass]="{text: !modoOscuro, textdark: modoOscuro}">
                    <p><strong>Stack Overflow</strong> en español es un sitio de preguntas y respuestas para
                        programadores y profesionales de
                        la <strong>informática.</strong> Solo te toma un minuto registrarte.

                    </p>

                    <div [ngClass]="{calificacion: !modoOscuro, calificaciondark: modoOscuro}">
                        <div [ngClass]="{bola: !modoOscuro, boladark: modoOscuro}"></div>
                        <div [ngClass]="{bola: !modoOscuro, boladark: modoOscuro}"></div>
                        <div [ngClass]="{bola: !modoOscuro, boladark: modoOscuro}"></div>
                        <div [ngClass]="{bola: !modoOscuro, boladark: modoOscuro}"></div>
                        
                        <div [ngClass]="{bolavacia: !modoOscuro, bolavaciadark: modoOscuro}"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>