<div class = "navbar">
    <a routerLink="Home">Inicio</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="booltonum">Bin-to-Num</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="borderradius">Border-radius</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="jsontocsv">JSON-to-CSV</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="calculator">calculator</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="darkmode">darkmode</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="clima">clima</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="asincronia">asincronia</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="promesas">promesas</a>&nbsp;&nbsp;&nbsp;
</div>

