body{
    height: 500px;
}

.container {
    display: flex;
    height: auto;
    width: 500px;
    justify-content: space-between;
    margin-right: 20px;
}



.container input{
    width: 200px;
    margin-right: 20px;

}

