header {
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 52px;
    border-bottom: solid 1px rgb(64, 64, 64);
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    margin-left: 420px;
    height: 20px;
    margin-right: 32px;
    
    
}


.home,.about,.shop{border-right: 1px solid black;}

header h3 {
    margin-top: 12px;
}

header a {
    padding-right: 24px;
    padding-left: 24px;
    

}

.YourCart {
    height: 30px;
    width: 120px;
    background-color: rgb(64, 64, 64);
    color: white;
    margin-top: -6px;
    
    

}

.LeftColumn {
    display: grid;
    width: 191px;
    border-right: solid 1px rgb(64, 64, 64);
    height: 100vh;
}

.botonera {
    margin-top: 24px;

}

.topbutton {
    width: 100px;
    padding: 8px;
    height: 30px;
    background-color: rgb(64, 64, 64);
    color: white;
    margin: 8px;
    border: none;
}

.LeftColum h3 {
    margin-top: -10px;
}

.product {
    width: 100%;
    height: 50px;
    display: flex;
    
}

.producttitle{
    color: black
}

.detallesfav .producttitle {
    color: white;
}

.producto button p{
   margin: 10px;
   margin-bottom: -12px;
}

.producto button{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border:none;
    width:190px;
    align-items: center;
    
}

.detalles {
    justify-content: center;
    display: flex;
    width: 800px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 100px;
    left: 200px;


}

.detallesfav {
    justify-content: center;
    display: flex;
    width: 800px;
    height: 500px;
    background-color: rgba(128,128,128);
    position: absolute;
    top: 100px;
    left: 200px

}




.similares {
    justify-content: center;
    display: grid;
    width: 800px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 600px;
    left: 199px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;


}

.similaresfav{
    justify-content: center;
    display: grid;
    width: 800px;
    height: 200px;
    background-color: rgb(128,128,128);
    position: absolute;
    top: 600px;
    left: 199px;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    
}
.infosimilares{
    display:flex
}

.infosimilares img{
    margin: auto 2%;
}

.psimilares{
    position: absolute;
    font-size: 50px;
    text-align: center;
    height: 60px;
    top:-50px;
    right:240px
    
}
.tarjetasimilar{
    margin-top: 30px;
    width: 400px;
    height: auto;
    display:grid;
    grid-template-columns: 140px auto;
}

.tarjetasimilar img{
    
    
    margin: auto;
    width: 100px;
    height: 100px;
    
    cursor: pointer;  
}
.tarjetainfosimilar p{
    margin-top: 40px;
}



.detalles img {
    
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: auto;
}

.detallesfav img {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: auto;
}



.detallesfav p {
    color: rgb(255, 255, 255);
    font-size: medium;
}

.flecha {

    height: 40px;
}

.body {
    display: flex;
}

.info {
    width: 400px;
    display: grid;
    ;
}

.imagenfull {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 100;
}

.head {
    display: flex;
    font-size: 50px;
    margin-top: -40px;
    height: 90px;
    
}
.detallesfav .head head {
    color:white
}

.divestrellas {
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 100%;
    height: 20px;
    background-color: white;
    
    padding-bottom: 20px;

}

.detallesfav .divestrellas {
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 100%;
    height: 20px;
    background-color: rgba(128,128,128);
    
    padding-bottom: 20px;

}

.divestrellasbajapuntuacion {
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 100%;
    height: 20px;
    background-color: white;
    
    padding-bottom: 20px;


}

.detallesfav .divestrellasbajapuntuacion {
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 100%;
    height: 20px;
    background-color: rgba(128,128,128);
    
    padding-bottom: 20px;

}

.eliminarlistado{
    border: none;
    background-color: rgb(64, 64, 64);
    color: white;
    width: 140px;
    height: 36px;

}

.detallesfav .eliminarlistado{
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(64, 64, 64);
    width: 140px;
    height: 36px;

}
.resumenreview{
    position: absolute;
    top:-16px;
    left: 110px
}
.price{
    padding-bottom: 20px;
    padding-top: 40px;
    font-size: 50px;
    height:80px;
    margin: 0px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
}

.detallesfav .price{
    padding-bottom: 20px;
    padding-top: 40px;
    font-size: 50px;
    height:80px;
    margin: 0px;
    border-bottom: solid 1px rgb(255, 255, 255);
    border-top: solid 1px rgb(255, 255, 255);
    color: white;

}

.similarprice{
    position: absolute;
    top:100px;
    font-size:20px}

.tarjetainfosimilar p{
    font-size: 20px;
    margin-bottom: 8px;
    text-transform: uppercase
}

.heart-shape{
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgb(168, 168, 168);
    padding: 0;
    border: none;
    top: 70px;
    left: 70px;
    
    
}
.heart-shape:before,
.heart-shape:after{
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(168,168,168);
    
    
}
.heart-shape:before{
    bottom: 0px;
    left: -10px;
    
}
.heart-shape:after{
    top: -10px;
    right: 0px;
}



.detallesfav .heart-shape{
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgb(255, 0, 0);
    padding: 0;
    border: none;
    top: 70px;
    left: 70px;
    
    
}
.detallesfav .heart-shape:before,
.detallesfav .heart-shape:after{
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    
    
}
.detallesfav .heart-shape:before{
    bottom: 0px;
    left: -10px;
    
}
.detallesfav .heart-shape:after{
    top: -10px;
    right: 0px;
}

.estrella {
    margin: 5px 0;
    position: relative;
    display: block;
    color: green;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid green;
    border-left: 10px solid transparent;
    transform: rotate(35deg);
    
}
.estrella:before {
    border-bottom: 8px solid green;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4.5px;
    left: -6.5px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    
}
.estrella:after {
    position: absolute;
    display: block;
    color: green;
    top: 0.3px;
    left: -10.5px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid green;
    border-left: 10px solid transparent;
    transform: rotate(-70deg);
    content: '';
    
}

.mediaestrella {
    margin: 5px 0;
    position: relative;
    display: block;
    color: greenyellow;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid greenyellow;
    border-left: 10px solid transparent;
    transform: rotate(35deg);
    
}
.mediaestrella:before {
    border-bottom: 8px solid greenyellow;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4.5px;
    left: -6.5px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    
}
.mediaestrella:after {
    position: absolute;
    display: block;
    color: greenyellow;
    top: 0.3px;
    left: -10.5px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid greenyellow;
    border-left: 10px solid transparent;
    transform: rotate(-70deg);
    content: '';
    
}

.vaciaestrella {
    margin: 5px 0;
    position: relative;
    display: block;
    color: rgba(168,168,168);
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid rgba(168,168,168);
    border-left: 10px solid transparent;
    transform: rotate(35deg);
    
}
.vaciaestrella:before {
    border-bottom: 8px solid rgba(168,168,168);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4.5px;
    left: -6.5px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    
}
.vaciaestrella:after {
    position: absolute;
    display: block;
    color: rgba(168,168,168);
    top: 0.3px;
    left: -10.5px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid rgba(168,168,168);
    border-left: 10px solid transparent;
    transform: rotate(-70deg);
    content: '';
    
}



.detallesfav .estrella {
    margin: 5px 0;
    position: relative;
    display: block;
    color: purple;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid purple;
    border-left: 10px solid transparent;
    transform: rotate(35deg);
    
}
.detallesfav .estrella:before {
    border-bottom: 8px solid purple;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4.5px;
    left: -6.5px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    
}
.detallesfav .estrella:after {
    position: absolute;
    display: block;
    color: purple;
    top: 0.3px;
    left: -10.5px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid purple;
    border-left: 10px solid transparent;
    transform: rotate(-70deg);
    content: '';
    
}

.detallesfav .mediaestrella {
    margin: 5px 0;
    position: relative;
    display: block;
    color: plum;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid plum;
    border-left: 10px solid transparent;
    transform: rotate(35deg);
    
}
.detallesfav .mediaestrella:before {
    border-bottom: 8px solid plum;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4.5px;
    left: -6.5px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    
}
.detallesfav .mediaestrella:after {
    position: absolute;
    display: block;
    color: plum;
    top: 0.3px;
    left: -10.5px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid plum;
    border-left: 10px solid transparent;
    transform: rotate(-70deg);
    content: '';
    
}

.detallesfav .vaciaestrella {
    margin: 5px 0;
    position: relative;
    display: block;
    color: rgba(168,168,168);
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid rgba(168,168,168);
    border-left: 10px solid transparent;
    transform: rotate(35deg);
    
}
.detallesfav .vaciaestrella:before {
    border-bottom: 8px solid rgba(168,168,168);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4.5px;
    left: -6.5px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    
}
.detallesfav .vaciaestrella:after {
    position: absolute;
    display: block;
    color: rgba(168,168,168);
    top: 0.3px;
    left: -10.5px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid rgba(168,168,168);
    border-left: 10px solid transparent;
    transform: rotate(-70deg);
    content: '';
    
}


.divestrellasbajapuntuacion .estrella {
    margin: 5px 0;
    position: relative;
    display: block;
    color: rgb(255, 0, 0);
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid rgb(255, 0, 0);
    border-left: 10px solid transparent;
    transform: rotate(35deg);
    
}
.divestrellasbajapuntuacion .estrella:before {
    border-bottom: 8px solid rgb(255, 0, 0);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4.5px;
    left: -6.5px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    
}
.divestrellasbajapuntuacion .estrella:after {
    position: absolute;
    display: block;
    color: rgb(255, 0, 0);
    top: 0.3px;
    left: -10.5px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid rgb(255, 0, 0);
    border-left: 10px solid transparent;
    transform: rotate(-70deg);
    content: '';
    
}

.divestrellasbajapuntuacion .mediaestrella {
    margin: 5px 0;
    position: relative;
    display: block;
    color: palevioletred;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid palevioletred;
    border-left: 10px solid transparent;
    transform: rotate(35deg);
    
}
.divestrellasbajapuntuacion .mediaestrella:before {
    border-bottom: 8px solid palevioletred;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4.5px;
    left: -6.5px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    
}
.divestrellasbajapuntuacion .mediaestrella:after {
    position: absolute;
    display: block;
    color: palevioletred;
    top: 0.3px;
    left: -10.5px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid palevioletred;
    border-left: 10px solid transparent;
    transform: rotate(-70deg);
    content: '';
    
}

.vaciaestrella {
    margin: 5px 0;
    position: relative;
    display: block;
    color: rgba(168,168,168);
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid rgba(168,168,168);
    border-left: 10px solid transparent;
    transform: rotate(35deg);
    
}
.vaciaestrella:before {
    border-bottom: 8px solid rgba(168,168,168);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4.5px;
    left: -6.5px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    
}
.vaciaestrella:after {
    position: absolute;
    display: block;
    color: rgba(168,168,168);
    top: 0.3px;
    left: -10.5px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid rgba(168,168,168);
    border-left: 10px solid transparent;
    transform: rotate(-70deg);
    content: '';
    
}
