<div class="bloque1">
    <div class="tarjeta"><img src="./assets/thumbup.png">
        <h4>Primary Benefit One</h4>
        <p>Describe a key benefit that your product provides for your customers and explaiont the impact can have.</p>
    </div>
    <div class="tarjeta"><img src="./assets/thumbup.png">
        <h4>Primary Benefit One</h4>
        <p>Describe a key benefit that your product provides for your customers and explaiont the impact can have.</p>
    </div>
    <div class="tarjeta"><img src="./assets/thumbup.png">
        <h4>Primary Benefit One</h4>
        <p>Describe a key benefit that your product provides for your customers and explaiont the impact can have.</p>
    </div>

</div>


<div class="bloque2">
    <h2>What our users say</h2>
    <p>Lorem ipsum, blabla reprentia, arrepentia pecatorum porculatoria index astartes deckard kain diablo4 fireball
        sorc</p>
</div>

<div class="tarjetasopinion">
    <div class="tarjeta2">
        <div class="cabezatarjeta">
            <img class ="usuario" src="./assets/gregorio.jpg">
            <div class="info">
                <p class="name">Gregory Jones</p>
                <p>@Gregorio</p>
            </div>
            <img class="ok" src="./assets/ok.png">
        </div>
        <p class ="opinion">Este software es la bomba, sin hacer nada he mejorado como programador y como persona</p>
        <p class = "fecha"> 18:00 pm / 21-diciembre-2022</p>
    </div>

    <div class="tarjeta2">
        <div class="cabezatarjeta">
            <img class ="usuario" src="./assets/gregorio.jpg">
            <div class="info">
                <p class="name">Camilo sesto</p>
                <p>@Camilo</p>
            </div>
            <img class="ok" src="./assets/ok.png">
        </div>
        <p class ="opinion"> bsdlasdlasdlasldasl asld asl as sald slad sa dlsad sald bsdlasdlasdlasldasl asld asl as sald slad sa dlsad sald sa als sdl asld asd slad sl dEste software es la bomba, sin hacer nada he mejorado como programador y como persona</p>
        <p class = "fecha"> 18:00 pm / 21-diciembre-2022</p>
    </div>
</div>