
<body>
    <p class="texto">Introduce un numero binario de maximo 8 caracteres en el campo y obten su numero entero</p>
<div class="container">
    <div class="formulario">
        <input #inputBinario type="text" placeholder="Introduce un numero binario" autocomplete="off" maxlength=8/>
    </div>
    <button type="button" (click)="validar(inputBinario.value)">Convertir</button>
</div>

<div class="resultado" *ngIf="convertido">
    <p>Tu numero en binario es:</p>
    <div class="numeroresultado">{{convert}}</div>
</div>
</body>
