<body>
    <div class="navbar">
        <div class="logo">@ Logo</div>
        <div class = "navs"><a class = "navlink">Nav1</a>
        <a class = "navlink">Nav2</a>
        <a class = "navlink">Nav3</a>
        <a class = "navlink">Nav4</a>
        <a class = "navlink">Nav5</a></div>
        
        <div><button class = "signup">Sign Up</button>
        <button class = "login">Log in</button></div>
        
      </div>
      <div class = "body">
      
    
      <div class="bloque1">
        <div class="textoizquierda1">
          <h2>Powerful Tagline for Your Product</h2>
          <p>Supporting statement for your products`s tagline. This text should communicate your unique selling proposition to the reader</p>
          <button class =botonbloque1> START YOUR FREE TRIAL</button>
        </div>
        <img class="imagenbloque1" src="./assets/pc-sobremesa.jpg">
      </div>
    
      <div class="bloque2">
        <div class="tarjetacentral">
          <div class ="iconocentral"><img src ="./assets/thumbup.png"/></div>
          <div class ="textocentral">
            <h4>Feature One</h4>
            <p>Describe what this feature does, and how it benefit your customers</p>
          </div>
        </div>
          <div class="tarjetacentral">
            <div class ="iconocentral"><img src ="./assets/thumbup.png"/></div>
            <div class ="textocentral">
              <h4>Feature Two</h4>
              <p>Describe what this feature does, and how it benefit your customers</p>
            </div>
          </div>
          <div class="tarjetacentral">
            <div class ="iconocentral"><img src ="./assets/thumbup.png"/></div>
            <div class ="textocentral">
              <h4>Feature three</h4>
              <p>Describe what this feature does, and how it benefit your customers</p>
            </div>
          </div>
          <div class="tarjetacentral">
            <div class ="iconocentral"><img src ="./assets/thumbup.png"/></div>
            <div class ="textocentral">
                <h4>Feature four</h4>
                <p>Describe what this feature does, and how it benefit your customers</p>
            </div>
          </div>
          <div class="tarjetacentral">
            <div class ="iconocentral"><img src ="./assets/thumbup.png"/></div>
            <div class ="textocentral">
              <h4>Feature five</h4>
              <p>Describe what this feature does, and how it benefit your customers</p>
            </div>
          </div>
          
          <div class="tarjetacentral">
            <div class ="iconocentral"><img src ="./assets/thumbup.png"/></div>
            <div class ="textocentral">
              <h4>Feature six</h4>
              <p>Describe what this feature does, and how it benefit your customers</p>
            </div>
          </div>
        </div>
    
        <div class = "bloque3">
          <img src="./assets/pc-sobremesa.jpg">
          
          <div class = "textobloque3">
            <h3>Primary benefit showcase</h3>
            <p> Show how your product's features matter, how they set you apart from the competition, and how you can transform your custommer's experience at work or at home.</p>
          </div>
        </div>
              
        <div class = "bloque4">
          <div class = "textobloque3">
            <h3>Primary benefit showcase</h3>
            <p> Show how your product's features matter, how they set you apart from the competition, and how you can transform your custommer's experience at work or at home.</p>
          </div>
          <img class = "pc1" src="./assets/pc-sobremesa.jpg"><img class = "pc2" src ="./assets/ordenador-de-sobremesa.jpg">
          
        </div>
      </div>
    </body>