<div class="bloque1">
    <div class="tarjeta"><img src="./assets/thumbup.png">
        <h4>Primary Benefit One</h4>
        <p>Describe a key benefit that your product provides for your customers and explaiont the impact can have.</p>
    </div>
    <div class="tarjeta"><img src="./assets/thumbup.png">
        <h4>Primary Benefit One</h4>
        <p>Describe a key benefit that your product provides for your customers and explaiont the impact can have.</p>
    </div>
    <div class="tarjeta"><img src="./assets/thumbup.png">
        <h4>Primary Benefit One</h4>
        <p>Describe a key benefit that your product provides for your customers and explaiont the impact can have.</p>
    </div>

</div>


<div class="bloque2">
    <h2>What our users say</h2>
    <p>Lorem ipsum, blabla reprentia, arrepentia pecatorum porculatoria index astartes deckard kain diablo4 fireball
        sorc</p>
</div>

<div class="tarjetasopinion">
    <div class="tarjeta2">
        <div class="cabezatarjeta">
            <img class ="usuario" src="./assets/gregorio.jpg">
            <div class="info">
                <p class="name">Gregory Jones</p>
                <p>@Gregorio</p>
            </div>
            <img class="ok" src="./assets/ok.png">
        </div>
        <p class ="opinion">Este software es la bomba, sin hacer nada he mejorado como programador y como persona</p>
        <p class = "fecha"> 18:00 pm / 21-diciembre-2022</p>
    </div>

    <div class="tarjeta2">
        <div class="cabezatarjeta">
            <img class ="usuario" src="./assets/gregorio.jpg">
            <div class="info">
                <p class="name">Camilo sesto</p>
                <p>@Camilo</p>
            </div>
            <img class="ok" src="./assets/ok.png">
        </div>
        <p class ="opinion"> bsdlasdlasdlasldasl asld asl as sald slad sa dlsad sald bsdlasdlasdlasldasl asld asl as sald slad sa dlsad sald sa als sdl asld asd slad sl dEste software es la bomba, sin hacer nada he mejorado como programador y como persona</p>
        <p class = "fecha"> 18:00 pm / 21-diciembre-2022</p>
    </div>

   
</div> 
<div  class = "bloque3">
        <h2>Choose your plan</h2>
        <p>Choose a plan that`s right for your growing team. Simple Placing.No hidden charges</p>
        <button class = "dark">Monthly</button><button class = "light">Anual</button>
        <img class ="save" src = "./assets/save.png">
    </div>

<div class = "tarjetasprecio">
    <div class = "tarjeta">
        <p>BASIC</p>
    <h1>9€</h1>
    <ul>
        <li>3 Projects</li>
        <li>250 objects per project</li>
        <li>One active user</li>
    </ul>
<button>Choose this plan</button></div>

    <div class = "tarjeta">
        <p>PROFESINAL</p>
    <h1>29€</h1>
    <ul>
        <li>20 Projects</li>
        <li>800 objects per project</li>
        <li>10 active user</li>
        <li>Team Collabration</li>
    </ul><button>Choose this plan</button></div>

    <div class = "tarjeta">
        <p>ENTERPRISE</p>
    <h1>99€</h1>
    <ul>
        <li>Unlimited</li>
        <li>No object limit</li>
        <li>Unlimited users</li>
        <li>Team Collaboration</li>
        <li>Priority Support</li>
    </ul><button>Choose this plan</button></div>
    
</div>